@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

.about {
    margin: 30px 0px;
    padding: 20px;
    margin-left: 200px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .about-img img {
    border-radius: 10px;
    width: 100%;
    height: 400px;
    background-color: rgb(238, 210, 117);
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .about :hover {
    background-color: rgb(234, 241, 241);
  }
  
  .about-content h1 {
    color: gray;
    font-family: cursive;
    border-bottom: 2px solid gray;
    text-align: center;
  }
  .about-content p {
    text-align: justify;
    padding: 25px;
    /* font-family: 'Roboto Mono', monospace; */
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* ======== DARK MODE ========= */
  
  #dark .about {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.15);
  }
  #dark .about :hover {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.15);
  }
  
  #dark .about-content h1 {
    color: #b0a4a4;
    border-bottom: 2px solid #b0a4a4;
  }
  
  /* ================================ */
  @media (max-width: 600px) {
    .about {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      width: 100%;
    }
    .about-content h1 {
      margin-top: 10px;
    }
  }