.sidebar-section {
  display: flex;
  background-color: black;
}
.sidebar {
  height: 100vh;
  background-color: #1e1e2c;
  width: 15vw;
  position: fixed
}
.sidebar-toggle{
  width: 5vw;
}
.sidebar-toggle-icons {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}
.sidebar-toggle-icons p svg{
    background-color: white;
    margin-top: 30px;
}
#dark .sidebar-toggle-icons p svg{
    background-color: white;
    margin-top: 30px;
    color: black;
}
.sidebar-toggle-icons p :hover{
    background-color: #f29f67;
    margin-top: 30px;
    color: white;
}
#dark .sidebar-toggle-icons p :hover{
    background-color: #f29f67;
    margin-top: 30px;
    color: black;
}

/* ==== MOBILE VIEW ========== */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  }